:root {
    /* ... */
    --spinner-animation-speed: 1s;
}
 
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
 
.spinner {
    animation: spin var(--spinner-animation-speed) linear infinite;
}
 
.card-saving {
    display: flex;
    align-items: center;
    gap: 5px;
}